:root {
  --btn-bg-color: rgb(126, 45, 255);
  --btn-text-color: white;
  --main-bg-color: rgb(46, 46, 46);
  --header-text-color: rgb(255, 255, 255);
  --section-header-text-color: rgb(126, 45, 255);
  --divider-color: rgb(126, 45, 255);
  --bg-dark: rgb(36, 36, 36);
  --hover-highlight-color: rgb(126, 45, 255);
  --border-rounded-corners: 0.3em;
  --border-circle: 50%;
  --header-text-font: "Noto Sans JP", sans-serif;
  --body-text-font: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar-thumb {
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  background-clip: padding-box;
}
::-webkit-scrollbar {
  background-color: var(--bg-dark);
}

/* Utility Classes--------------------------------------------------------- */
.flex {
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.border-white {
  border: solid 1px white;
  box-shadow: 0px 0px 10px 2px white;
}
.border-purple {
  border: 1px solid var(--divider-color);
  box-shadow: 0px 0px 30px 10px var(--divider-color);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.bg-main {
  background-color: var(--main-bg-color);
}
.rounded{
border-radius: 1rem;
}
/* ------------------------------------------------------------------------- */
body {
  margin: 5px;
  max-width: 100%;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body,
main {
  margin: 0px;
}
main {
  padding-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
  font-family: var(--header-text-font);
}

p {
  color: white;
  font-family: var(--body-text-font);
}
ul {
  color: white;
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: var(--header-text-color);
  list-style-position: outside;
  display: inline-block;
  width: 1em;
}
li {
  list-style: none;
  margin: none;
}
form {
  text-align: left;
  padding: 15px;
  border-radius: 1rem;
}
.input-group {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}
input,
textarea {
  padding: 15px;
  width: 100%;
  border-radius: var(--border-rounded-corners);
}
label {
  width: 100%;
  color: white;
}
textarea {
  height: 100px;
  resize: none;
}
input:invalid {
  border: solid 2px var(--btn-bg-color);
}
.site-title-container {
  flex-direction: row;
  text-align: center;
  width: 100%;
  background: var(--main-bg-color);
  height: 25vh;
}
.site-title,
.mobile-site-title {
  font-size: 1.5rem;
  margin: 0px;
}
.mobile-site-title {
  width: 100%;
  padding: 10px;
  background-color: var(--divider-color);
}
section {
  margin-bottom: 5px;
  background-color: var(--main-bg-color);
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.section-title-container {
  display: flex;
  text-align: center;
  color: var(--header-text-color);
}
.section-sub-header {
  padding: 5px 0px 5px 0px;
  text-decoration: underline;
  text-decoration-color: var(--divider-color);
  text-decoration-style: double;
}
.section-content-link {
  text-decoration: underline;
  text-decoration-color: var(--divider-color);
  text-decoration-style: double;
}
.section-landing {
  padding: 0px;
  display: flex;
  text-align: center;
  /* height: 100vh; */
}
.nav,
.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.nav-menu {
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
  height: 0px;
  transition: 0.5s;
  text-align: left;
}
.mobile-nav-title {
  font-size: 1rem;
}
.show {
  height: 350px;
}
.nav-menu li {
  padding: 10px;
}
.nav-menu li::before {
  content: "";
  display: block;
}
.landing-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
}
.landing-content-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
}
.landing-content-image {
  display: flex;
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: var(--border-circle);
  margin: auto;
}
.landing-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  font-size: 1.5rem;
  border-bottom: solid 1px var(--divider-color);
}
.landing-menu .site-title {
  display: none;
}
.nav-item {
  padding: 5px;
}

.nav-item a {
  color: var(--header-text-color);
  text-decoration: none;
}
.nav-item a:visited,
a:visited,
a {
  color: var(--header-text-color);
  text-decoration: none;
}
.nav-item:hover,
.nav-item a:hover,
a:hover {
  color: var(--hover-highlight-color);
}
.submit-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btn {
  max-width: 200px;
  background-color: var(--btn-bg-color);
  border-radius: var(--border-rounded-corners);
  color: var(--btn-text-color);
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  outline: none;
  border: solid 2px var(--btn-bg-color);
}
.btn:hover {
  border: solid 2px var(--btn-text-color);
}
.nav-expand-btn {
  padding: 5px;
  background-color: transparent;
  outline: transparent;
  border: solid transparent 1px;
  border-radius: var(--border-circle);
  transition: 0.5s;
}
.nav-expand-btn img {
  filter: invert(100%);
}
.nav-expand-btn:hover {
  outline: transparent;
  background-color: var(--btn-bg-color);
  transition: 0.5s;
}
.spacer {
  display: flex;
  background-color: var(--divider-color);
  height: 10px;
  width: 100%;
  flex-grow: 1;
  position: relative;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.social-links img {
  width: 50px;
  height: 50px;
  background-color: var(--header-text-color);
  border: solid 2px var(--header-text-color);
  border-radius: var(--border-circle);
}
#form_contact_error {
  background-color: rgb(255, 45, 45);
  padding: 10px;
  border-radius: var(--border-rounded-corners);
  text-align: center;
  display: none;
}
#error_input_wrapper {
  display: none;
}
.desktop-site-title {
  display: none;
}
.card {
  left: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  padding: 0.8rem;
  min-width: 80vw;
  max-width: 80vw;
}
.gallery img {
  margin: 5px;
  border: solid 2px;
  border-color: transparent;
  box-shadow: 0px 0px 30px 10px transparent;
}
:is(img):hover {
  border-color: var(--divider-color);
  box-shadow: 0px 0px 30px 10px var(--divider-color);
  transition: 0.3s;
}
dialog {
  background-color: rgba(0, 0, 0, 0.836);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  opacity: 0;
  transition: opacity 0.5s;
}
dialog img {
  margin: 1rem;
}
dialog img:hover, button img:hover{
  border: none;
  box-shadow: none;
}
dialog[open] {
  opacity: 1;
}
@media screen and (min-height: 731px) {
  .site-title-container {
    height: 20vh;
  }
  .landing-content-container {
    height: 80vh;
  }
}

/* iphone's */
@media screen and (min-width: 320px) {
  .site-title-container {
    height: 100px;
  }
  .social-links {
    padding: 0px 0px 10px 0px;
  }
  .input-group {
    flex-direction: column;
  }
  input,
  textarea {
    width: auto;
  }
  .landing-content-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .landing-content-image {
    flex-grow: unset;
    height: auto;
  }
  .landing-content-text {
    height: 40vh;
  }
  #recaptcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 360px) {
  .landing-content-text {
    height: 35vh;
  }
}

@media screen and (min-width: 411px) {
  form {
    align-items: center;
  }
  .landing-content-text {
    height: 30vh;
  }
}

@media screen and (min-height: 731px) {
  .site-title-container {
    height: 200px;
  }
}

@media screen and (min-height: 812px) {
  .site-title-container {
    height: 200px;
  }
}

/* ipads */
@media screen and (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
  .site-title {
    font-size: 1.8rem;
  }
  .landing-content-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .landing-content-image {
    flex-grow: unset;
    width: 350px;
    height: auto;
  }
  form {
    width: 75vw;
    align-items: center;
    max-width: 800px;
  }
  input,
  textarea {
    font-size: 1rem;
  }
  #contact {
    align-items: center;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding-bottom: 0px;
  }
  .site-title-container {
    display: none;
  }
  #mobile-nav {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    bottom: unset;
    top: 0px;
    height: auto;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .landing-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-bg-color);
    width: 100%;
    padding: 10px;
  }
  .landing-menu .site-title {
    display: flex;
  }
  .site-title {
    font-size: 1rem;
    margin-right: auto;
    display: none;
  }
  li.nav-item {
    font-size: 1rem;
    margin-right: 10px;
  }
  .landing-content-container .landing-content-text {
    height: 25vh;
    flex-grow: unset;
  }
  .desktop-site-title {
    display: block;
  }
}

@media screen and (min-width: 1700px) {
  .section-landing {
    height: 100vh;
  }
  .landing-content-container {
    height: 100vh;
  }
}
