<section class="flex" id="social">
  <div class="flex center section-title-container">
    <h2 class="section-title">Connect on Social Media</h2>
  </div>
  <div class="social-links">
    <a
      title="facebook profile link"
      href="https://www.facebook.com/ShawnMuzick/"
      target="blank"
    >
      <img
        src="/img/iconmonstr-facebook-4.svg"
        alt="facebook profile link"
        class="facebook"
      />
    </a>
    <a
      title="instagram profile link"
      href="https://www.instagram.com/shawnmuzick/"
      target="blank"
    >
      <img
        src="/img/iconmonstr-instagram-14.svg"
        alt="instagram profile link"
      />
    </a>
    <a
      title="twitter profile link"
      href="https://twitter.com/ShawnMuzick"
      target="blank"
    >
      <img
        src="/img/iconmonstr-twitter-4.svg"
        alt="twitter profile link"
      />
    </a>
    <a
      title="github profile link"
      href="https://github.com/shawnmuzick"
      target="blank"
      ><img src="/img/iconmonstr-github-4.svg" alt="github profile link"
    /></a>

    <a
      title="linkedin profile link"
      href="https://www.linkedin.com/in/ShawnMatyasovszky/"
      target="blank"
      ><img
        src="/img/iconmonstr-linkedin-4.svg"
        alt="linkedin profile link"
    /></a>
  </div>
</section>
